<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" lang="pt-br">

    <head>
        <title>Projeta Jr. - Soluções em EQ</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
		<div th:replace="helpers :: navbar ('cadastro')"></div>
        <div class="container">
            <form method="post" th:action="@{/cadastro}" th:object="${membro}">
                <fieldset>
                    <legend>
                        Cadastro
                    </legend>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input th:field="*{nome}" class="form-control" type="text" name="nome" id="nome" th:th:required="true"/>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="sobrenome">Sobrenome</label>
                                <input th:field="*{sobrenome}" type="text" name="sobrenome" id="sobrenome" class="form-control" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="curso">Curso</label>
                                <input th:field="*{curso}" class="form-control" type="text" name="curso" id="curso" th:required="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="matricula">Matricula</label>
                                <input th:field="*{matricula}" class="form-control" type="text" name="matricula" id="matricula" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dataNascimento">Data de Nascimento</label>
                                <input th:field="*{dataNascimento}" th:value="${membro.dataNascimento}" class="form-control" type="date" name="dataNascimento" id="dataNascimento" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="naturalidade">Naturalidade</label>
                            <input th:field="*{naturalidade}" class="form-control" type="text" name="natulidade" id="naturalidade" th:required="true"/>
                        </div>
                    </div>

                    <!-- INICIO DOS CARGOS -->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Cargo</label>
                                <select th:field="*{cargo}" name="cargo" class="form-control">
                                    <option value="">Selecione o Cargo</option>
									<option th:each="cargo : ${cargo}"  th:value="${cargo}" th:text="${cargo.descricao}"/>
                                </select>
                            </div>
                        </div>
                        <!-- FIM DOS CARGOS -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data admissão</label>
                                <input th:field="*{dataAdmissao}" th:value="${membro.dataAdmissao}" type="date" name="dataAdmissao" class="form-control" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data demissão</label>
                                <input th:field="*{dataDemissao}" th:value="${membro.dataDemissao}" type="date" name="demissao" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Senha</label>
                                <input th:field="*{senha}" class="form-control" type="password" name="senha" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Repita Senha</label>
                                <input class="form-control" type="password" name="confsenha" th:required="true"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dicaSenha">Dica de senha</label>
                                <input th:field="*{dicaSenha}" class="form-control" type="text" name="dicaSenha" id="dicaSenha"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>