<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" lang="pt-br">

    <head>
        <title></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div th:fragment="navbar(abaAtiva)">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Projeta Jr.</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li th:class="${abaAtiva == 'home'}? active : null"><a th:href="@{/}">Home</a></li>
		      <li th:class="${abaAtiva == 'cadastro'}? active : null"><a th:href="@{/cadastro}">Cadastrar Membros</a></li>
		      <li th:class="${abaAtiva == 'adm'}? active : null"><a th:href="@{/login}">Administrativo</a></li>
		      <li th:class="${abaAtiva == 'listar'}? active : null"><a th:href="@{/listar}">Listar</a></li>
		      <li th:class="${abaAtiva == 'ponto'}? active : null"><a th:href="@{/ponto}">Registrar Ponto</a></li>
		    </ul>
		  </div>
		</nav>
	</div>

	<div th:fragment="abasListas(ativa)">
		<ul class="nav nav-pills">
			<!-- <li role="presentation" th:class="${ativa=='home'} ? active : null"><a href="#">Home</a></li> -->
			<li role="presentation" th:class="${ativa=='membros'} ? active : null"><a th:href="@{/listar/membros}">Membros</a></li>
			<li role="presentation" th:class="${ativa=='ponto'} ? active : null"><a href="#">Pontos por membro</a></li>
		</ul>
	</div>
	

	
	
  	</body>
</html>